body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#slider{
  background-color: #414141;
  height: 100vh;
  width: 100vw;
}

.slide-bullet{
  position: relative;
  background-color: transparent;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  transition: .5s ease-in;
  cursor: pointer;
}

.slide-bullet:hover{
  border: 8px solid white;
}

.slide-bullet:hover .slider-btn{
  transform: scale(.4);
  background-color: white;
}

.slider-btn{
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, .3);
  border: 5px solid white;
  transition: .5s;
}

main{
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
}

h1, h2, h3{
  font-family: 'Montserrat', sans-serif;
}

.section-title{
  font-size: 58px;
  font-weight: 600;
}

.section-header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.title-line{
  width: 40px;
  border: 1px solid #0cc4cc;
  margin: 0px 15px;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.service-card{
  text-align: center;
  width: 22%;
  padding: 0 15px;
}

.service-icon{
  width: 92px;
  height: 92px;
}

.service-title{
  font-size: 24px;
  font-weight: 600;
  color: #383838;
}

.service-description{
  font-family: 'Open Sans', sans-serif;
  color: #7c7c7c;
  font-size: 16px;
  line-height: 1.7;
}

.content-left{
  padding: 60px;
  width: 40%;
}

#hive-group{
  margin: 25px 0;
}

#hivegroup-img{
  max-width: 100%;
  height: auto;
  z-index: 1;
}

#hivegroup-info{
  position: relative;
  top: 80px;
}

#hive-group::before{
  position: absolute;
  content: '';
  background-color: #352245;
  height: 600px;
  width: 66%;
  margin-top: 60px;
  left: 0;
  z-index: 0;
}

#heading-hive{
  font-size: 40px;
  font-weight: bold;
  color: #0cc4cc;
}

.subheading{
  margin-bottom: 35px;
}

.orange{
  color: #f86942;
}

.hivegroup-description{
  text-align: justify;
  color: white;
  line-height: 1.7;
  font-family: 'Open Sans', sans-serif;
}

#about{
  margin-top: 180px;
}

.about-heading{
  color: rgb(12, 196, 204);
  font-weight: 800;
}

#about-line{
  border: 1px solid black;
}

.about-icon{
  background-color: #352245;
  padding: 5px;
  border-radius: 50%;
  width: 50px;
}

.flex-content{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column{
  flex-direction: column;
}

#about-cards{
  flex-direction: column;
}

.about-title{
  font-size: 19px;
  font-weight: 600;
  color: #383838;
  font-family: "Montserrat", sans-serif;
}

.about-details{
  line-height: 1.7;
  color: #7c7c7c;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}

.about-img{
  height: auto;
  max-width: 60%;
}

.content-positioning{
  min-width: 350px;
  width: 80%;
}

.about-text{
  margin: 10px 10px 10px 30px;
}

#about-img2{
  max-width: 450px;
}

.header-left{
  justify-content: flex-start;
}

.header-center{
  justify-content: center;
}

#partners-data{
  flex-wrap: wrap;
}

.icon{
  max-width: 100%;
  width: 280px;
  border: 2px solid rgba(231, 228, 228, 0.5);
  margin: 5px;
  transition: .5s;
}

#partners{
  margin: 10px 0px;
}

.icon:hover{
  border: 2px solid rgb(209, 206, 206);
  box-shadow: 4px 4px 15px rgba(209, 206, 206, .8), -2px -2px 15px rgba(209, 206, 206, .5);
  transition: .5s;
  transform: scale(1.05)
}

.icon img{
  height: auto;
  width: 100%;
}

#contact{
  background-color: #352245;
  padding: 50px 0px;
}

#footer{
  text-align: center;
  color: #838383;
  height: 100px;
  width: 100%;
  background-color: #181818;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-left{
  align-items: flex-start;
}

#contact{
  padding: 100px 0px;
  align-items: flex-start;
}

.contact-header{
  font-size: 23px;
  font-weight: 400;
  text-transform: none;
  color: #f86942;
  margin: 5px;
}

#left-panel{
  width: 30%;
  max-width: 300px;
}

#right-panel{
  width: 60%;
  max-width: 800px;
}

.contact-icon{
  color: #f86942;
  margin-right: 20px;
}

.spacing{
  margin: 25px 0;
}

#left-panel p{
  color: white;
  font-size: 15px;
}

.form-header{
  font-size: 35px;
  text-transform: none;
  color: #0cc4cc;
  font-weight: 800;
  margin-bottom: 30px;
}

.user-data{
  display: flex;
  justify-content: space-between;
}

#contact-form{
  width: 100%;
}

.user-data input{
  width: 30%;
}

.user-data input, textarea{
  color: #f86942;
  font-size: 16px;
  border-width: 0px 0px 2px 0px;
  background: transparent;
  line-height: 40px;
}

.form-text textarea{
  margin-top: 20px;
  font-family: "Open Sans", sans-serif;
  border-width: 0px 0px 2px 0px;
  width: 100%;
  height: 172px;
}

.user-data input::placeholder, textarea::placeholder{
  color: white;
}

#submit{
  background-color: #282828;
  cursor: pointer;
  border: none;
  padding: 19px 31px;
  font-size: 14px;
  color: white;
  font-weight: bold;
  letter-spacing: 0.8px;
  margin-top: 20px;
}

#submit:hover{
  background-color: #383737;
}

#page-header{
  padding-top: 130px;
  width: 100%;
  height: 18vw;
  min-height: 180px;
  background: url('../img/page-title-background.jpg') center;
  background-size: cover;
}

#page-header h1{
  color: white;
  font-size: 54px;
  letter-spacing: 2px;
  font-weight: 700px;
  margin: 0;
  margin-left: 20%;
  padding-top: 10vw;
  text-transform: uppercase;
}

.project{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}

.project div{
  width: 50%;
}

.portfolio-header{
  color: rgb(12, 196, 204);
  font-weight: 800;
}

.project-icon{
  max-width: 100%;
  height: auto;
  display: block;
}

.project-details p{
  line-height: 1.7;
  color: #6d6c6c;
  white-space: pre-wrap;
}

.left-right{
  flex-wrap: wrap;
}

.right-left{
  flex-wrap: wrap-reverse;
}

#navigation{
  background-color: transparent;
  position: fixed;
  left: 0;
  top: 0;
  height: 60px;
  padding: 10px 0;
  width: 100%;
}

#navbar{
  margin: 0 auto;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#menu-top{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#menu-right{
  display: gone;
}

.nav-link{
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.5px;
  font-size: 15px;
}

.nav-logo{
  width: 50%;
}

#menu-btn-mobile{
  display: none;
  border: 2px solid white;
  border-radius: 8%;
  width: 12px;
  height: 15px;
  padding: 5px 8px;
}

.hamburguer{
  border: 1px solid white;
  margin: 1px 0;
  width: 100%;
}

#block-back{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(49, 49, 49, 0.6);
}

#menu-mobile{
  display: block;
  background-color: #1f1f1f;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 0;
  padding: 0;
  transition: .4s;
}

.nav-mobile{
  color: #979797;
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding: 17px 0;
  display: block;
  margin: 0 25px;
  border-bottom: 1px solid #979797; 
  line-height: 20px;
}

.nav-mobile:hover{
  color: white;
}

.close-btn{
  color: #979797;
}

.close-btn:hover{
  color: white;
}



@media screen and (max-width: 1325px){
  #hive-group::before{
    width: 100%;
    margin-top: 0;
  }
  #hivegroup-info{
    width: 80%;
    text-align: center;
  }
  .hivegroup-description{
    text-align: center;
  }
  .nav-logo{
    width: 30%;
  }
  #nav-color{
    height: 100%;
  }
  #navigation{
    background-color: #352245;
  }
}

@media screen and (max-width: 1000px){
  .service-card{
    width: 40%;
  }

  .about-img{
    width: 40%;
  }

  .icon{
    width: 240px;
  }

  #menu-top{
    display: none;
  }

  #menu-btn-mobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;    
  }

  #navbar{
    justify-content: space-between;
  }
}

@media screen and (max-width: 800px){
  #right-panel, #left-panel{
    width: 80%;
  }

  #left-panel{
    margin-top: 50px;
  }

  #contact{
    flex-wrap: wrap-reverse;
  }

  .project div{
    width: 100%;
  }  

  .project-icon{
    margin: 0 auto;
    max-width: 80%;
  }
}

@media screen and (max-width: 600px){
  #about02{
    display: none;
  }

  #about01{
    flex-wrap: wrap;
  }
  .icon{  
    width: 160px;
  }

  #page-header h1{
    font-size: 40px;
    margin-left: 10%;
  }

  .portfolio-header{
    font-size: 40px;
  }
}

@media screen and (max-width: 480px){
  .service-card{
    width: 100%;
  }
  #hive-group::before{
    height: 800px; 
  }
  .icon{  
    width: 45%;
  }
  .user-data input{
    width: 80%;
    margin: 20px 0;
  }  
  .user-data{
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 320px){
  .about-icon{
    display: none;
  }
  #hive-group::before{
    padding: 50px 0;
  }
}